*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

*.py~
*.py\#

# ignore sublime text project files
*.sublime-project
*.sublime-workspace

# ignore south migration folders
migrations/
/static/
/apache/

# ingore temp files
*.*~
.*~
# ignore nohup files
nohup.out
errors


